.mainDiv{
  background: yellow;
  display: flex;
text-align: center;

  justify-content: space-around;
}

.sub1{
  background: red;
  border-radius: 15px;
  box-shadow: 10px 10px 0 0 black;
}

.sub2{
  background: pink;
  border-radius: 15px;
  box-shadow: 10px 10px 0 0 black;
}

.sub3{
  background: green;
  border-radius: 15px;
  box-shadow: 10px 10px 0 0 black;
}
body{
  background:#BAF1AD
}
.image1{
padding: 6px;
  width: 200px;
  height: 200px;
  text-align:center;
  border: solid;
}
.image2{
padding: 6px;
  width: 200px;
  height: 200px;
  text-align:center;
  border: solid;
}

.image3{
padding: 6px;
  width: 200px;
  height: 200spx;
  text-align:center;
  border: solid;

}
@media all and (max-width:768px) {
  body{
  }
}
